%h1 Welcome!

.bubble-link#about-bubble
  = link_to image_tag("happy_circle.png"), "/about"
  %p
    = link_to "About Me", "/about"

#projects-contact-links
  .bubble-link#projects-bubble
    = link_to image_tag("projects.png"), projects_path
    %p
      = link_to "My Projects", projects_path

  .bubble-link#contact-bubble
    = link_to image_tag("contact.png"), "/contact"
    %p
      = link_to "Contact Me", "/contact"
