= simple_form_for @job do |f|

  .row
    .column.small-6
      = f.input :title
    .column.small-6
      = f.input :location
    .column.small-12
      = f.input :description
    .column.small-12
      = f.button :submit
