%article.job
  %strong= "#{job.location} - "
  %p= job.title
  - job_dates = "(#{job.start_date})"
  - if job.end_date.length > 0
    - job_dates = "(#{job.start_date} - #{job.end_date})"
  %p= job_dates
