%article.project
  - if project.link.length > 0
    %h2.title
      = link_to project.title, project.link, target: "_blank", class: "header-link"
  - else
    %h2.title= project.title

  - if user_signed_in?
    .icons.row
      = link_to edit_project_path(project), class: "column small-6" do
        %i.fi-pencil
      = link_to project_path(project), method: :delete, class: "column small-6",
        data: { confirm: "Are you sure you'd like to delete project '#{project.title}'?" } do
        %i.fi-trash

  .description
    :markdown
      #{project.description}

  .snippet-links
    %h2 Code Snippets
    - project.code_links.each do |code_link|
      %article.snippet-link
        = link_to code_link.title, "javascript:void(0)", onclick: "showOnlyOne('code-snippet-#{code_link.id}');", class: "code-link"
        :markdown
          #{code_link.description}
