= simple_form_for @course do |f|

  .row
    .column.small-3
      = f.input :identifier
    .column.small-9
      = f.input :link
    .column.small-12
      = f.input :title
    .column.small-12
      = f.button :submit
