= link_to "Joel Graycar", root_url, id: "logo-text"
%nav#nav-bar
  .link#projects-page
    = link_to "PROJECTS", projects_path, class: "main-link"
    - projects = Project.all.order('title ASC, year')
    %ul
      - projects.each do |project|
        %li
          = link_to project.title, project

  - if user_signed_in?
    .link#courses-page
      = link_to "COURSES", courses_path, class: "main-link"

  .link#resume-page
    = link_to "RESUME", "/resume", class: "main-link"

  .link#about-page
    = link_to "ABOUT", "/about", class: "main-link"

  - if user_signed_in?
    .link
      = link_to "LOGOUT", "/logout", "data-no-turbolink" => true, class: "main-link"
