!!!
%html(lang="en-US")
  %head
    %meta(charset="utf-8")
    = metamagic title: "Joel Graycar",
      keywords: "joel, graycar, personal, portfolio"

    %link(href="//brick.a.ssl.fastly.net/Inconsolata:400,500/Lato:400,700" rel="stylesheet" type="text/css")
    %link(href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css')

    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag :modernizr
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

    = favicon_link_tag "favicon.png", rel: "icon", type: "image/png"
    = favicon_link_tag "favicon.png", rel: "apple-touch-icon", type: "image/png"

    %meta(name="mobile-web-app-capable" content="yes")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

  %body{ class: "#{controller.controller_name}", id: "#{controller.action_name}" }
    %section.spacer
      = link_to image_tag("semi-colon.svg"), root_url, id: "semi-colon"
    %header#nav-header
      = render "layouts/header"

    .devise-notice
      - if notice
        .alert-box.success(data-alert)
          = notice
      - if alert
        .alert-box.alert
          = alert

    = yield
